<CodeSnippet Format="1.0.0">
  <Header>
    <Title>mbnq default header</Title>
    <Author>mbnq.pl</Author>
    <Description>Default header</Description>
    <Shortcut>mbnqheader</Shortcut>
  </Header>
  <Snippet>
        <Code Language="csharp">
            <![CDATA[
/* 

    www.mbnq.pl 2024 
    https://mbnq.pl/
    mbnq00 on gmail

*/
            ]]> 
        </Code> 
  </Snippet> 
</CodeSnippet>